$color-white: #ffffff;
$color-black: #000000;
$color-deep-purple: #5f5aa2;
$color-grey: #838271;
$color-grey-dark-18: #525146;
$color-grey-light: #cccccc;
$color-deep-blue: #327ba8;
$color-red: #ba0c2f;
$color-bright-blue-light-20: #59dbff;

$background-opacity: 0.6;

$font-family: 'Source Sans Pro', sans-serif;
